<div class="product-list-container">
   <div *ngFor="let product of products" class="product-list-item-container">

      <div class="list-photo-container">
         <img [src]="product.imageUrl">
      </div>

      <div class="info-container">

         <div class="title-container">
            <h4>{{product.productName}}</h4>
         </div>

         <div class="price-container">
            <p class="overline">£{{product.price | number}}</p>
         </div>
         <div class="description-container">
            <p class="body">{{product.shortDescription}}.</p>
         </div>
         <div class="button-container">
            <button [routerLink]="['/shop/products', product.id]" class="button-white">See Product</button>
         </div>
      </div>
   </div>
</div>