<app-header></app-header>


<div class="header-container">
   <h1>CHECKOUT</h1>
</div>

<div class="review-container">

   <div class="checkout-form">

      <form [formGroup]="checkoutForm" class="form-container">

         <div class="main-container">
   
   
            <div data-cy-id="subheader" class="sub-header-container">
               <h3>BILLING</h3>
            </div>
   
            <div class="input-container">
               <input data-cy-id="nameInput" formControlName="name" class="name" placeholder="Aleksei Ward" autocomplete="off">
            </div>
   
            <div class="input-container">
               <input data-cy-id="emailInput" type="email" formControlName="email" placeholder="aleksei@gmail.com" autocomplete="off">
            </div>

            <div class="input-container">
               <input data-cy-id="phoneNumberInput" formControlName="phoneNumber" placeholder="000 - 000" autocomplete="off">
            </div>

            <div class="input-container">
               <textarea data-cy-id="addressInput" formControlName="address" placeholder="Canary Wharf 7.. " autocomplete="off"></textarea>
            </div>

            <div class="input-container">
               <input data-cy-id="zipInput" formControlName="zipcode" placeholder="10001" autocomplete="off">
            </div>

            <div class="input-container">
               <input data-cy-id="city" formControlName="city" placeholder="London" autocomplete="off">
            </div>

            <div class="input-container">
               <input data-cy-id="country" formControlName="country" placeholder="England" autocomplete="off">
            </div>

            <div class="input-container">
               <input data-cy-id="paymentMethod" formControlName="paymentMethod" placeholder="England" autocomplete="off">
            </div>


            <button data-cy-id="continue" (click)="createOrder()">Create ORder</button>

         </div>
      </form>













   </div>

   <div class="summary-container">


   </div>

</div>