.wallpaper-container {
  background-image: linear-gradient(to right, #afc6e9, #2888b4);
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: grid;

  .img-container {
    margin: auto;
    justify-self: center;
    align-items: center;
    display: grid;

    img {
      width: 100%;
      height: auto;
    }
  }

    button {
      place-self: center;
      background-color: orangered;
      width: 150px;
      height: 45px;
      border-radius: 10px;
      color: #ffff;
      border: none;
      outline: none;
      margin-top: 40px;
    }
}
