.wallpaper-container {
  background-image: linear-gradient(to right, #afc6e9, #2888b4);
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: grid;

  .img-container {
    margin: auto;
    justify-self: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
