@import "mixins";
@import "variables";

span.dark-beige { @include background-colour-card($c-dark-beige); }
span.beige { @include background-colour-card($c-beige); }
span.dark-black { @include background-colour-card($c-dark-black); }
span.black { @include background-colour-card($c-black); }
span.dark-gray { @include background-colour-card($c-dark-gray); }
span.light-gray { @include background-colour-card($c-light-gray); }
span.white { @include background-colour-card($c-white); }

.color-class-container {
   max-width: 8   00px;
   margin-top: 50px;
   padding-bottom: 100px;
   border: 1px solid red;
   margin: auto;

display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   row-gap: 10px;
   column-gap: 5px;
   border-bottom: 5px solid green;

}

label { @include label };
h1 { @include h1 };
h2 { @include h2 };
h3 { @include h3 };
h4 { @include h4 };
h5 { @include h5 };
h6 { @include h6 };

.overline {
   @include overline;
}


.button-orange {
   @include button-styling($c-dark-beige, $c-white, $c-dark-beige); 
   &:hover {
      @include button-styling($c-beige, $c-white, $c-beige); 
   }
}
.button-white {
   @include button-styling($c-white, $c-black, $c-black); 
   &:hover {
      @include button-styling($c-black, $c-white, $c-black); 
   }
}

.button-transparent {
   @include button-styling(transparent, $c-black, transparent); 
}

.button-shop-container {
   --to-shop-icon: url('../../src/assets/icons/rightArrow.svg');

   > img {     
      padding-top: 15px;
      position: absolute;
      content: var(--to-shop-icon);
      left: 60px;
   }

   .button-shop    {
      @include button-styling($c-white, $c-black, transparent); 
      &:hover {
         @include button-styling($c-white, $c-dark-beige, transparent); 
      }
   }
}


.body { @include body };

