 @import "variables";

.backdropClass {
   filter: blur(20px);
   background-color: $c-background-gray;
   opacity: 0.7 !important;
}

.cart-container {
   display: grid;
   height: max-content;

   .cart-header { 
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: min-content min-content;

      button {
         grid-row: 2;
         grid-column: 2;
         font-weight: 500;
      }
   }

   .current-items {
      display: grid;
      width: 100%;
      height: min-content;
      
      .cart-item {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         height: 64px;
         column-gap: 10px;

         .image-container {
            grid-column: 1;
            // background-color: purple;
            width: 64px;
            height: auto;

            img {
               width: 100%;
            }
         }

         .info-container {
            grid-column: 2;
            display: grid;
            place-items: start;
            grid-template-rows: 30px 30px;

         }

         .button-container {
            // background-color: magenta;
            grid-column: 3;

            .plus-minus-container {
               background-color: $c-dark-gray;
               display: grid;
               width: 120px;
               grid-template-rows: 1fr;
               grid-template-columns: min-content 30px min-content;
               place-content: center;
               height: 64px;
            
               .input-group-button, .input-group-field {
                  grid-row: 1;
               }
               .input-group-field {
                width: 20px;
                border: none;
                place-self: center;
               }
            
               .input-group-button {
                  display: grid;
                  button {
                     place-self: center;
                     border: none;
            
                     &:hover {
                        border: 2px solid $c-dark-beige;
                     }
                  }
                  button.minus {
                     position: absolute;
                     bottom: 1%;
                  }
               }
            }
         }

      }
   }

   .total-container  {
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
   }

   .action-button-container {
      display: grid;
   }
}