@import "variables";
@import "mixins";


.component-header {
   grid-template-columns: 1fr;
   display: grid;
   grid-template-rows: 1fr;
   background-color: $c-black;
   width: 100%;
   height: 200px;
   place-items: center;


   h2 {
      color: $c-white;
   }
}

.component-container {
   margin: auto;
   margin-top: 50px;
   background-color: $c-header-black;
   display: grid;
   grid-template-columns: 1fr;
   border: 5px solid black;
   max-width: 1100px;
   grid-template-columns: 1fr;

   .product-list-item-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: $c-dark-beige;
      grid-template-rows: 300px;
      margin-bottom: 35px;

      .list-photo-container {
         grid-column: 1;
         display: grid;
         align-content: center;
         height: 300px;

         img {
            width: 100%;
            height: 300px;
         }
      }

      .info-container {
         display: grid;
         grid-column: 2;
         grid-template-rows: repeat(5, 60px);
         place-items: center;

         .title-container {
            h1 {
               color: $c-white;
            }
         }
         .price-container .overline {
            color: $c-light-gray;
         }

         .description-container {
            p {
               color: $c-white;
            }
         }
      }
   }


   @media screen and (max-width: 800px) {
      .product-list-container .product-list-item-container {
         grid-template-columns: 1fr;
         background-color: blueviolet;
         grid-template-rows: 1fr 1fr;

         .info-container {
            grid-row: 1;
            grid-column: 1 /-1;
         }

         .list-photo-container {
            background-color: black;
            grid-row: 2;
            grid-column: 1 / -1;
            display: block;

            img {
               object-fit: contain;
            }
         }
      }
   }
}

.no-results-container {
   background-color: $c-dark-beige;
}

.item-container {

   display: grid;
   margin: auto;
   max-width: 1000px;
   grid-template-columns: 1fr 1fr;

   .picture-container {
      display: grid;
      grid-column: 1;
      background-color: $c-dark-gray;
      place-content: center;
   }

   .detail-container {
      display: grid;
      place-items: center;
      grid-column: 2;
      background-color: $c-white;
   }

   @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .picture-container {
         grid-column: 1 / -1;
         grid-row: 1;
      }
      .detail-container {
         grid-row: 2;
         grid-column: 1 / -1;
      }
   }
}

.plus-minus-container {
   background-color: $c-dark-gray;
   display: grid;
   width: 120px;
   grid-template-rows: 1fr;
   grid-template-columns: min-content 30px min-content;
   place-content: center;
   height: 50px;

   .input-group-button, .input-group-field {
      grid-row: 1;
   }
   .input-group-field {
    width: 13px;
    border: none;
    place-self: center;
   }

   .input-group-button {
      display: grid;
      button {
         place-self: center;
         border: none;

         &:hover {
            border: 2px solid $c-dark-beige;
         }
      }
      button.minus {
         position: absolute;
         bottom: 1%;
      }
   }

}