.header {
   display: grid;
   grid-template-columns: 7vw 1fr 10fr 1fr 2vw;
   grid-template-rows: 70px auto;
   align-items: center;
   background-color: #f0f8ff;
}

.logo {
   grid-column: 2;
}

.main-nav {
   grid-column: 3;
}

.hamburger {
   grid-column: 4;
   justify-self: end;
   display: none;
}

.main-nav ul {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   justify-items: center;
}

.fa-bars {
   font-size: 1.4em;
}

.logo img {
   display: block;
   height: 70px;
}

.main-nav {
   display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
   .hamburger {
      display: grid;
   }

   .main-nav {
       grid-row: 2;
       grid-column: 2 / 5;
       background-color: #000;
   }

   .main-nav ul {
       grid-template-columns: 1fr;
       height: calc(80vh - 70px);
       align-content: space-evenly;
   }

   .main-nav ul a {
       color: #fff;
   }

}