@import "variables";
@import "mixins";

.review-container {
   padding: 50px 20px;

   display: grid;
   grid-template-columns: 1fr 350px;
   column-gap: 30px;
   max-width: 1000px;
   margin: auto;
   height: max-content;
   align-items: start;

   .checkout-form {
      display: grid;
      justify-items: center;
      .subtitle {
         color: $c-dark-beige;
      }

      .input-container {
         margin-bottom: 7px;
         label {
            display: block;
         }

         textarea {
            padding-left: 15px;
            border: 1px solid $c-form-gray;
            outline: none;
            width: 100%;
            border-radius: 5px;

            &::placeholder {
               color: $c-background-gray;
            }
         }

         input {
            padding-left: 16px;
            width: 100%;
            height: 45px;
            border-radius: 5px;
            outline: none;
            border: 1px solid $c-form-gray;
            color: black;

            &::placeholder {
               color: $c-background-gray;
            }

            &:hover {
               filter: brightness(85%);
            }
            &:focus {
               border: 2px solid $c-beige;
            }
         } 

         mat-form-field {
            width: 100%;
         }



         .mat-radio-button {
            width: 100%;
            border: 1px solid $c-form-gray;
            border-radius: 5px;
            margin-top: 20px;
            height: 30px;
         }
         .mat-radio-label-content {
            font-weight: normal;
         }

         .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
            opacity: 0 !important; /*click effect color change*/
            background-color: #422873 !important;
         }

         .mat-radio-button.mat-accent .mat-radio-inner-circle {
            background-color: $c-dark-beige !important;
         }

         .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: $c-dark-beige !important;
         }
      }
   }

   .summary-container {
      height: max-content;

      .cart-container {
         .cart-header {
            height: min-content;
            display: grid;

            h3 {
               align-self: start;
            }
         }

         .current-items {
            .button-container {
               align-self: center;
            }
         }
      }

      .total-container {
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
      }
   }

   @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
   }
}
