@import "variables";

.shop-main-container {
   background-color: $c-header-black;
   display: grid;
   grid-template-columns: 1fr;

   .shop-container {
      margin: auto;
      max-width: 1110px;
      background-color: $c-header-black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;

      .flagship-product-container {
         width: 100%;
         display: grid;
         grid-row-gap: 60px;
         place-items: center;
         grid-template-columns: 1fr;
         padding-left: 5px;
         padding-right: 5px;

         .product-container {
            display: grid;
            grid-template-rows: repeat(5, 100px);
            place-items: center;

            .title-container {
               h1 {
                  color: $c-white;
               }
            }
            .photo-container {
               display: grid;
               height: 230px;
               align-items: center;
               margin-top: 50px;
               // grid-row: 2;

               img {
                  height: auto;
                  width: 250px;
               }
            }

            .price-container .overline {
               color: $c-light-gray;
            }

            .description-container {
               p {
                  color: $c-white;
               }
            }
         }
      }

      .product-list-item-container {
         display: grid;
         grid-template-columns: 250px 1fr;
         background-color: $c-dark-beige;
         grid-template-rows: 300px;
         margin-bottom: 15px;
         background-color: $c-dark-beige;

         .list-photo-container {
            grid-column: 1;
            display: grid;
            align-content: center;
            height: 300px;

            img {
               height: auto;
               width: 250px;
            }
         }

         .info-container {
            display: grid;
            grid-column: 2;
            grid-template-rows: repeat(5, 60px);
            place-items: center;

            .title-container {
               h1 {
                  color: $c-white;
               }
            }
            .price-container .overline {
               color: $c-light-gray;
            }

            .description-container {
               p {
                  color: $c-white;
               }
            }
         }
      }
   }


   @media screen and (max-width: 800px) {
      .shop-container .product-list-container .product-list-item-container {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         padding-left: 5px;
         padding-right: 5px;

         .info-container {
            grid-column: 2 /-1;
            place-items: center;
         }

         .list-photo-container {
            grid-column: 1 / 2;

            img {
               width: 100px;
               height: auto;
            }
         }
      }
   }
}
