
// DIMENSIONS
$mobile-width: 375px;
$desktop-width: 1440px;

// COLOURS 

$c-dark-beige: #D87D4A;
$c-beige: #FBAF85;
$c-dark-black: #101010;
$c-black: #000000;
$c-dark-gray: #F1F1F1;
$c-light-gray: #979797;
$c-white: #FFFFFF;

// TYPOGRAPHY

