<div class="header-main-container">
    <div class="header">
        <div class="logo">
            <!-- <img src="../../../assets/images/audiophile.svg" alt="audio"> -->
             
            <a (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="main-nav" class="main-nav">
            <ul>
                <li><a routerlink="/shop">HOME</a></li>
                <li><a routerLink="/shop/category/headphones">HEADPHONES</a></li>
                <li><a routerLink="/shop/category/earphones">EARPHONES</a></li>
                <li><a routerLink="/shop/category/speakers">SPEAKERS</a></li>
            </ul>
        </div>
        <div class="hamburger">
            <div class="search-container">
                <img (click)="search()">
                <input [formControl]="searchBy" placeholder="Search..">
            </div>
        
        </div>
        <div class="shopping-cart">
            <img (click)="cart()" src="../../../assets/icons/shopping-cart.svg" alt="cart">
        </div>
    </div>
</div>