<app-header></app-header>



<div class="component-header">
   <h2>PRODUCT DETAILS</h2>
</div>


<div class="item-container-wrapper">

   <div class="item-container" *ngIf="product$ | async; let product">


      <div class="picture-container">
         <img [src]="product.imageUrl" alt="audio">
      </div>
   
      <div class="detail-container">
   
         <div class="title-container">
            <h6>New Product</h6>
            <h2>{{product.productName}}</h2>
         </div>
   
         <div class="price-container">
            <p class="overline">Available for {{product.price | number}}.</p>
         </div>
         <div class="description-container">
            <p class="body">
               {{product.shortDescription}}
            </p>
         </div>
         <div class="button-container">
   
            <div class="plus-minus-container">
               <div class="input-group-button">
                  <button type="button" (click)="decrementQuantity()">
                     <img class="minus" src="../../../assets/icons/minus-default.svg">
                  </button>
               </div>
               <input class="input-group-field" [value]="quantity">
               <div class="input-group-button">
                  <button type="button" (click)="incrementQuantity()">
                     <img src="../../../assets/icons/plus-default.svg">
                  </button>
               </div>
            </div>
   
            <button (click)="addProductToCart(product)" class="button-orange">ADD TO CART</button>
         </div>
   
      </div>
   </div>

   <div *ngIf="product$ | async; let product" class="review-container">
      
      <div *ngIf="product.reviews?.length" class="review-header">
         <h3>Reviews!</h3>
         
         <div *ngFor="let item of product.reviews" class="review-item">
            <h4>{{item.author}}</h4>
            {{item.review }}

         </div>
      </div>
   </div>

</div> 

<app-footer></app-footer>