<div class="register-page-container">

   <form [formGroup]="registerForm" class="form-container">

      <div class="main-container">
         <div class="header-container">
            <h1>Sign Up!</h1>
         </div>

         <div data-cy-id="subheader" class="sub-header-container">
            <h3>Register to use this amazing app!</h3>
         </div>

         <div class="input-container">
            <input data-cy-id="usernameInput" formControlName="username" class="username" placeholder="Username" autocomplete="off">
            <div class="error" *ngIf="getUsernameRequiredError()">Username is required.</div>
            <div class="error" *ngIf="getUsernameAlreadyExistsError()">Username already exists.</div>
         </div>

         <div class="input-container">
            <input data-cy-id="passwordInput" type="password" formControlName="password" placeholder="Password" autocomplete="off">
            <div class="error" *ngIf="getPasswordRequiredError()">Password is required.</div>
         </div>

         <div class="input-container">
            <input data-cy-id="passwordConfirmationInput" type="password" formControlName="confirmPassword" placeholder="Re-enter your password" autocomplete="off">
            <div class="error" *ngIf="getPasswordConfirmRequiredError()">You need to confirm your password.</div>
            <div class="error" *ngIf="registerForm.hasError('noMatch')">Entered passwords must match.</div>
         </div>


         <div *ngIf="error" class="input-container">
            {{error}}
         </div>

         <div class="navigate-to-login">
            Already have an account? Click <a [routerLink]="['/login']">
               <strong>here</strong>
            </a> to login.

            <mat-checkbox [formControl]="isAdmin">Is Admin?</mat-checkbox>

         </div>
         <button data-cy-id="continue" (click)="register()">Register</button>
      </div>
   </form>

</div>

<div class="container">
   <svg viewBox="0 70 500 60" preserveAspectRatio="none">
      <rect x="0" y="0" width="500" height="500" style="stroke: none;" />
      <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none;"></path>
   </svg>
</div>