<div class="footer-main-container">
   <div id="main-nav" class="main-nav">
      <ul>
          <li><a routerlink="/shop" routerLinkActive="active-state">HOME</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">HEADPHONES</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">EARPHONES</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">SPEAKERS</a></li>
      </ul><!-- .main-menu -->
  </div>

  <div class="content-container">

  </div>
</div>