<div class="footer-main-container">
   <div id="main-nav" class="main-nav">
      <ul>
          <li><a routerlink="/shop" routerLinkActive="active-state">HOME</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">HEADPHONES</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">EARPHONES</a></li>
          <li><a routerlink="#" routerLinkActive="active-state">SPEAKERS</a></li>
      </ul><!-- .main-menu -->
  </div>

  <div class="content-container">
     <div class="copyright-container">
      MusicAddict is an all in one stop to fulfill your audio needs.
      Visit our facility - we’re open 24/7 .
     </div>
     <div class="link-container">
      <li><img src="../../../assets/icons/github.png"></li>
      <li><img src="../../../assets/icons/linkedin.png"></li>
      <li><img src="../../../assets/icons/medium.png"></li>
     </div>
  </div>
</div>