<div class="footer-main-container">
   <div id="main-nav" class="main-nav">
      <ul>
         <li><a routerlink="/shop">HOME</a></li>
         <li><a routerLink="/shop/category/headphones">HEADPHONES</a></li>
         <li><a routerLink="/shop/category/earphones">EARPHONES</a></li>
         <li><a routerLink="/shop/category/speakers">SPEAKERS</a></li>
     </ul>
  </div>

  <div class="content-container">
     <div class="copyright-container">
      MusicAddict is an all in one stop to fulfill your audio needs.
      Visit our facility - we’re open 24/7 .
     </div>
     <div class="link-container">
      <li><img src="../../../assets/icons/github.png"></li>
      <li><img src="../../../assets/icons/linkedin.png"></li>
      <li><img src="../../../assets/icons/medium.png"></li>
     </div>
  </div>
</div>