.page-container {
  max-width: 1440px;
  background-color: #e5e5e5;
  height: 100%;
  margin: auto;

  .form-container {
    width: 350px;
    background-color: #e5e5e5;
    height: 600px;
    margin: auto;

    .main-container {
      padding-top: 50px;
      width: 300px;
      margin: auto;

      .header-container {
        > h1 {
          line-height: 80px;
          font-size: 64px;
          color: #224957;
          text-align: center;
        }
      }

      .sub-header-container {
        > h3 {
          line-height: 20px;
          font-size: 16px;
          color: #224957;
          text-align: center;
          margin-bottom: 35px;
        }
      }

      .input-container {
        margin-bottom: 32px;
        border-radius: 10px;

        > input {
          padding-left: 16px;
          width: 283px;
          height: 45px;
          border-radius: 10px;
          outline: none;
          border: none;
          background-color: #224957;
          color: white;

          &:hover {
            filter: brightness(85%);
          }
          &:focus {
            border: 2px solid #20df7f;
          }
        }
      }

      button {
        background-color: #20df7f;
        width: 100%;
        height: 45px;
        border-radius: 10px;
        color: #ffff;
        border: none;
        outline: none;
        margin-top: 15px;
      }
    }
  }
}

.error {
  color: red;
  font-size: 13px;
}

svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: #20df7f;
}

svg rect {
  fill: rgba(34, 73, 87, 0.8);
}

.container {
  margin-bottom: 100px;
  --divider-height: 4rem;

  position: relative;
  top: calc(var(--divider-height) / 2 * -1);

  height: var(--divider-height);
  width: 100%;

  float: left;
  z-index: 1;
}

.navigate-to-register {
  color: rgba(34, 73, 87, 0.8);
  font-size: 13px;
}
