<div class="container">
   <div class="review-header">
      <h2><strong>Review</strong> Transfer</h2>
      <button mat-button class="close-icon">
      </button>



   </div>

   <div class="main-box">
      <hr class="solid">
      
      <div class="warning-message">
         <p>Are you ready to send out the transfer?</p>
      </div>
      <div class="merchant-container">
         <p><strong>It will be sent to account:</strong></p>
            <input matInput disabled> 
      </div>


      <div class="amount-container">
         <p><strong>With the amount of:</strong></p>
            <input matInput disabled placeholder="€">  
      </div>

   </div>

   <div class="footer-container">

      <input class="cancel-button" type="button" value="Cancel">
      <input class="confirm-button" type="button" value="Send Transfer">


   </div>

   </div>