<div class="cart-container">
   <div class="cart-header">
      <h5><strong>Cart</strong></h5>
       <button class="button-transparent" (click)="removeAll()">Remove All Items</button>

   </div>

   <div class="current-items">
   <div *ngFor="let item of cartItems" class="cart-item">
           <div class="image-container">
               <img [src]="item.imageUrl">
           </div>    
           <div class="info-container">
            <p><strong>{{item.productName}}</strong></p>
            <p>£{{item.price | number}}</p>

           </div>

           <div class="button-container">
            <div class="plus-minus-container">
               <div class="input-group-button">
                  <button type="button" (click)="decrementQuantity(item)">
                     <img class="minus" src="../../../assets/icons/minus-default.svg">
                  </button>
               </div>

               <input class="input-group-field" [value]="item.quantity">
               <div class="input-group-button">
                  <button type="button" (click)="incrementQuantity(item)">
                     <img src="../../../assets/icons/plus-default.svg">
                  </button>
               </div>
            </div>
           </div>

      </div>
   </div>

   <div class="total-container">
      <h6>TOTAL:</h6>
      <p class="subtitle">£{{currentTotal | number}}</p>

   </div>

   <div mat-dialog-actions class="action-button-container">
      <button class="button-transparent" (click)="cancel()" value="Cancel" mat-dialog-close>No, thanks</button>
      <button class="button-orange" (click)="submit()" value="Continue" [mat-dialog-close]="true" cdkFocusInitial>Review Order</button>

   </div>

</div>