<div class="cart-container">
   <div class="cart-header">
      <h2><strong>Review</strong> Cart</h2>
       <button (click)="removeAll()">Remove All Items</button>

   </div>

   <div class="current-items">
   <div *ngFor="let item of cartItems" class="cart-item">
           <div class="image-container">
               <img [src]="item.imageUrl">
           </div>    
           <div class="info-container">
            <p>{{item.productName}}</p>
            <p>{{item.price}}</p>

           </div>

           <div class="button-container">
            <div class="plus-minus-container">
               <div class="input-group-button">
                  <button type="button" (click)="decrementQuantity(item)">
                     <img class="minus" src="../../../assets/icons/minus-default.svg">
                  </button>
               </div>

               <input class="input-group-field" [value]="item.quantity">
               <div class="input-group-button">
                  <button type="button" (click)="incrementQuantity(item)">
                     <img src="../../../assets/icons/plus-default.svg">
                  </button>
               </div>
            </div>
           </div>

      </div>
   </div>

   <div mat-dialog-actions>
      <button (click)="cancel()" value="Cancel">No, thanks</button>
      <button (click)="submit()" value="Continue" [mat-dialog-close]="true" cdkFocusInitial>Review Order</button>

   </div>

</div>