<app-header></app-header>


<div class="shop-main-container">


   <div class="shop-container">
      <div class="flagship-product-container">

         <div class="product-container">
            <div class="title-container">
               <h1 data-cy-id="featured-header">X99</h1>
            </div>
            <div class="photo-container">
               <img
                  src="https://s3-alpha-sig.figma.com/img/f2e3/4e90/78c19833e196460df0dfa9f3e9539310?Expires=1648425600&Signature=bcg2u~0SjjCPVJjrvn4iiMK5JppA1se58FagwnRvoknjIguFMen7E~UeHa0iXjqB5xs3miBcJKyDLjffOJlbwh~uoDj1B1~acghYoIqKq5JSSQlXM~s6Hs7H1Ec4ndghp2AXpYSUVG7N1DHx6vS7u2D3VEb6fIt6b-bFVf6emURCVBXkCEBDY5XPBG2CGM2G1UtJGXtCoRFSUo57Y1Gpg1bhGTF5sCaNOuneA5jDjFN462lEHEkgeraIXFuct-DahlDESUsjfrZRNIkZuZb00u69iXizZU6QorGN608U3OptXIfeFBunKLNriP4Idzqf3qDcuQEnVhfJVWVXSPTWHQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                  alt="audio">

            </div>
            <div class="price-container">
               <p class="overline">FEATURED</p>
            </div>
            <div class="description-container">
               <p data-cy-id="featured-description" class="body">Experience natural, lifelike audio and exceptional build quality made for the passionate
                  music enthusiast.</p>
            </div>
            <div class="button-container">
               <button [routerLink]="['/shop/products', 1]" class="button-orange">See Product</button>
            </div>


         </div>


      </div>


      <div class="product-list-container">
         <div *ngFor="let product of products$ | async; let products " class="product-list-item-container">

            <div class="list-photo-container">
               <img [src]="product.imageUrl">
            </div>

            <div class="info-container">

               <div class="title-container">
                  <h4>{{product.productName}}</h4>
               </div>

               <div class="price-container">
                  <p class="overline">£{{product.price | number}}</p>
               </div>
               <div class="description-container">
                  <p class="body">{{product.shortDescription}}.</p>
               </div>
               <div class="button-container">
                  <button [routerLink]="['/shop/products', product.id]" class="button-white">See Product</button>
               </div>

            </div>
         </div>

      </div>

   </div>

</div>


<app-footer></app-footer>