<app-header></app-header>


<div class="shop-main-container">

   <div class="shop-container">

      <!-- STATIC FLAGSHIP PRODUCT  -->
      <div class="flagship-product-container">

         <div class="product-container">
            <div class="title-container">
               <h1 data-cy-id="featured-header">X99</h1>
            </div>
            <div class="photo-container">
               <img
                  src="https://firebasestorage.googleapis.com/v0/b/ecommerceaudio.appspot.com/o/uploads%2Fx99.svg?alt=media&token=7dc4828f-0494-41a5-88c7-1e2b98b1a20e"
                  alt="audio">

            </div>
            <div class="price-container">
               <p class="overline">FEATURED</p>
            </div>
            <div class="description-container">
               <p data-cy-id="featured-description" class="body">Experience natural, lifelike audio and exceptional
                  build quality made for the passionate
                  music enthusiast.</p>
            </div>
            <div class="button-container">
               <button [routerLink]="['/shop/products', 1]" class="button-orange">See Product</button>
            </div>


         </div>
      </div>

      <!-- PRODUCT CARD CASE : DEFAULT -->
      <ng-container *ngIf="userPreference !== 'table'">
      <div class="product-list-container">
         <div *ngFor="let product of products$ | async; let products " class="product-list-item-container">

            <div class="list-photo-container">
               <img [src]="product.imageUrl">
            </div>

            <div class="info-container">

               <div class="title-container">
                  <h4>{{product.productName}}</h4>
               </div>

               <div class="price-container">
                  <p class="overline">£{{product.price | number}}</p>
               </div>
               <div class="description-container">
                  <p class="body">{{product.shortDescription}}.</p>
               </div>
               <div class="button-container">
                  <button [routerLink]="['/shop/products', product.id]" class="button-white">See Product</button>
               </div>
            </div>
         </div>
      </div>
   </ng-container>

      <!-- TABLE VIEW CASE -->
      <ng-container *ngIf="userPreference === 'table'">
         <app-user-table></app-user-table>
      </ng-container>

   </div>
</div>

<app-footer></app-footer>