
<div><h3>Color Cards</h3></div>

<div class="color-class-container">
   <span class="dark-beige"></span>
   <span class="beige"></span>
   <span class="dark-black"></span>
   <span class="white"></span>
   <span class="dark-gray"></span>
   <span class="light-gray"></span>
   <span class="black"></span>
</div>

<div><h3>Text Samples</h3></div>

<div class="sample-text-container">
   <h1 class="h1">Header 1</h1>
   <h2 class="h2">Header 2</h2>
   <h3 class="h3">Header 3</h3>
   <h4 class="h4">Header 4</h4>
   <h5 class="h5">Header 5</h5>
   <h6 class="h6">Header 6</h6>

   <div class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</div>
</div>

<div class="buttons-container">
   <h3></h3>
   <button class="button-orange">Button Orange</button>
   <button class="button-white">Button White</button>
   <div class="button-shop-container">
      <img/>
      <button class="button-shop">Button  </button>
   </div>

</div>
