<div class="flagship-product-container">

   <div class="product-container">
      <div class="title-container">
         <h1 data-cy-id="featured-header">X99</h1>
      </div>
      <div class="photo-container">
         <img
            src="https://firebasestorage.googleapis.com/v0/b/ecommerceaudio.appspot.com/o/uploads%2Fx99.svg?alt=media&token=7dc4828f-0494-41a5-88c7-1e2b98b1a20e"
            alt="audio">

      </div>
      <div class="price-container">
         <p class="overline">
            FEATURED
         </p>
      </div>
      <div class="description-container">
         <p data-cy-id="featured-description" class="body">
            Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
         </p>
      </div>
      <div class="button-container">
         <button [routerLink]="['/shop/products', 'caf48003-e668-41af-b45a-c0905c1effe2']" class="button-orange">
            See Product
         </button>
      </div>
   </div>
</div>